body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: linear-gradient(90deg, #FF5733, #FFC300);
    color: #fff;
    padding: 1.5rem;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: headerAnimation 1.5s ease-out;
}

@keyframes headerAnimation {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

main {
    display: flex;
    justify-content: center;
    padding: 2rem;
    animation: mainAnimation 1.5s ease-out;
}

@keyframes mainAnimation {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#team-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.team-row {
    display: flex;
    justify-content: space-between;
    gap: 15rem;
   margin-right: 20vh;
  
}

.team-card {
    flex: 1;
    padding: 1rem;
    border-radius: 10px;
    color: rgb(239, 150, 7);
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 6vh;
    margin-top: 3vh;
    background-color: gray;
}

.team-card h1 {
    margin: 0;
    font-size: 2rem;
}

.team-card:hover {
    opacity: 6.4;
}

#team-details {
    margin-left: 2rem;
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

#details {
    margin-top: 1rem;
}

.players-list {
    margin: 1rem 0;
}

.player-details {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
