.admin-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    font-family: Arial, sans-serif;
    margin: auto;
    max-width: 1200px;
}

.add-admin-form, .update-password-form {
    width: 45%;
    padding: 20px;
    background-color: #f9f9f9; /* Light background color */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    background-image: linear-gradient(135deg, #e0e0e0, #ffffff); /* Gradient background */
    margin-top: 15vh;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-item {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1); /* Inner shadow for input fields */
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #007bff; /* Border color change on focus */
    outline: none;
}



button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

button:active {
    background-color: #004494; /* Even darker blue on click */
}
